:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --gray-light: #f7f7f7;
  --badges: #DADDE1;
  --main: #101828;
  --white: #FFFFFF;
  --rating: #FFC531;
  --button: #E44848;
  --grey: #6C717B;
  --inputs: #F7F7F7;
    --text: #475467;

}

body {
  width: 1440px;
}


a {
  text-decoration: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 600;
font-size: 48px;
line-height: 67%;
color: #F7F7F7;
margin: 0;
padding: 0;
}

h3 {
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: var(--main);
padding: 0;
margin: 0;
}


button {
  padding: 0;
  margin: 0;
}

p {
margin: 0;
}